repos:
 - repo: https://github.com/kynan/nbstripout
   rev: 0.6.1
   hooks:
     - id: nbstripout
 - repo: https://github.com/Yelp/detect-secrets
   rev: v1.5.0
   hooks:
     - id: detect-secrets
 - repo: https://github.com/psf/black
   rev: 24.4.2
   hooks:
     - id: black